<div class="breadcrumb">
    {#
    <select class="branch-selector">
        {% for branch in g.repo.branches %}
        <option value="{{ branch }}"{{ ' selected' if branch == ref else '' }}>
            {{ branch }}
        </option>
        {% endfor %}
    </select>
    #}
    {% if request.endpoint == 'repo.commits' %}
    History for
    {% endif %}
    <a class="repo-root" href="{{ url_for('.tree') }}">
        {{ g.repo.name }}
    </a>
    {% if request.view_args.path %}
    {% for name, path in request.view_args.path|pathwalk %}
        <span class="separator">/</span>
        {% if not loop.last %}
        <a href="{{ url_for(request.endpoint, path=path) }}">
            {{ name }}
        </a>
        {% else %}
        <strong>{{ name }}</strong>
        {% endif %}
    {% endfor %}
    {% endif %}
</div>
