<div class="breadcrumb">
    {% if request.endpoint == 'repo.commits' and request.view_args.path %}
    History for
    {% endif %}
    <a class="repo-root" href="{{ url_for('.tree') }}">
        {{ g.repo_key }}
    </a>
    {% if request.view_args.path %}
    {% for name, path in request.view_args.path|pathwalk %}
        <span class="separator">/</span>
        {% if not loop.last %}
        <a href="{{ url_for(request.endpoint, path=path) }}">
            {{ name }}
        </a>
        {% else %}
        <strong>{{ name }}</strong>
        {% endif %}
    {% endfor %}
    {% endif %}
</div>
