<div class="commit-diff-summary">
    {#<div class="commit-diff-summary">#}
    <div>
        {{ macros.icon('file-o') }}
        Showing
        <label for="commit-diff-summary-files-check">
            {{ diff|count }}
            changed files
        </label>
        with
        <strong>{{ diff|sum(attribute='additions') }} additions</strong>
        and
        <strong>{{ diff|sum(attribute='deletions') }} deletions</strong>.
    </div>

    <input type="checkbox" class="hidden-block-control" id="commit-diff-summary-files-check">
    <ol class="hidden-block">
        {% for patch in diff %}
        <li>
            <span class="diffstat">
                {% if patch.is_binary %}
                BIN
                {% else %}
                    <span class="lines-added">+{{ patch.additions }}</span>
                    <span class="lines-deleted">-{{ patch.deletions }}</span>
                {% endif %}
                <a href="#diff-{{ loop.index0 }}">
                    {{ macros.diffstat(patch.diffstat) }}
                </a>
            </span>
            <span class="diff-status diff-status-{{ patch.status }}" title="{{ patch.status }}"></span>
            <a href="#diff-{{ loop.index0 }}">{{ patch.file_path }}</a>
        </li>
        {% endfor %}
    </ol>

</div>
