{%  macro summary_block_item(href, icon, label) %}
<a href="{{ href }}">
    <i class="fa fa-lg fa-{{ icon }}"></i>
    <strong>{{ summary[label]|int|formatnumber }}</strong>
    {{ label }}
</a>
{% endmacro %}
<div class="summary">
    {{ summary_block_item(url_for('.commits'), 'history', 'commits') }}
    {{ summary_block_item(url_for('.refs', ref_type='branches'), 'code-fork', 'branches') }}
    {{ summary_block_item(url_for('.refs', ref_type='tags'), 'tags', 'tags') }}
    {{ summary_block_item(url_for('.contributors'), 'users', 'contributors') }}
</div>
