{%- import 'macros.html' as macros with context -%}
<!DOCTYPE html>
<html>
<head>
    <title>Reppo!</title>

    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimum-scale=1.0,maximum-scale=1.0">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reppo.css') }}">
    {% block stylesheets %}{% endblock stylesheets %}
</head>
<body>

<header>
    <div class="container">
        <h1>
            <i class="fa fa-cube"></i>
            {{ SITE_NAME }}
            <span class="separator">/</span>
            <a href="{{ url_for('.tree_no_ref') }}">
                {{ g.repo.name }}
            </a>
        </h1>
    </div>
</header>

<div class="container">
    {% block content %}{% endblock content %}
</div>

<footer>
    <div class="container">
        &nbsp;
    </div>
</footer>

{#<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>#}
{% block post_body_script %}{% endblock post_body_script %}
</body>
</html>
