{% extends 'base.html' %}

{% block title %}{{ request.view_args.path }} at {{ g.rev }} · {{ g.repo_key }}{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/highlight.css') }}">
{% endblock stylesheets %}

{% block navigation %}
{% include '_navigation.html' %}
{% endblock navigation %}

{% block content %}
{{ macros.commit_details(commit, preview=true) }}

{#
<div>
    {{ contributors|map(attribute='name')|join(', ') }}
</div>
#}

<div class="file">
    <div class="meta">
        <div class="info">
            {{ line_count }} lines ({{ loc_count }} sloc) | {{ blob.size|filesizeformat }}
        </div>
        <div class="actions">
            <a href="{{ url_for('.raw', path=request.view_args.path) }}" class="view-button">Raw</a>
            <a href="{{ url_for('.commits', path=request.view_args.path) }}" class="view-button">History</a>
        </div>
    </div>
    <div class="diff-wrapper">
        {{ highlighted_data }}
    </div>
</div>
{% endblock content %}
