{% extends 'base.html' %}

{% block title %}{{ commit.message.summary }} · {{ g.rev|shortsha }} · {{ g.repo_key }}{% endblock title %}

{% block content %}
{{ macros.commit_details(commit, branches, preview=false) }}

{% include '_commit_diff_summary.html' %}

<div class="files">
    {% for patch in diff %}
    <div class="file">
        <div class="meta">
            <div class="info">
                <span class="diff-stat">
                    <span class="additions">
                        +{{ patch.additions }}
                    </span>
                    <span class="deletions">
                        -{{ patch.deletions }}
                    </span>
                </span>
                <span class="title" title="{{ patch.new_file_path }}">
                        {{ patch.new_file_path }}
                </span>
            </div>
            <div class="actions">
                <a class="view-button" href="{{ url_for('.blob', rev=commit.id, path=patch.new_file_path or patch.old_file_path) }}">View</a>
            </div>
        </div>

        <div class="diff-wrapper">
            <table class="diff-table">
                <tbody>
                    {% for hunk in patch.hunks %}
                    <tr>
                        <td class="blob-num blob-num-hunk" colspan="2">&nbsp;</td>
                        <td class="blob-code blob-code-hunk">{{ hunk.context_line }}</td>
                    </tr>
                    {% for hunk_line in hunk.lines %}
                    <tr>
                        <td class="blob-num blob-num-{{ hunk_line.action }}" id="diff-{{ patch.old_id }}L{{ hunk_line.old_lineno or '' }}" data-line-number="{{ hunk_line.old_lineno or '' }}">
                            {#<a href="#diff-{{ patch.old_id }}L{{ hunk_line.old_lineno }}">{{ hunk_line.old_lineno }}</a>#}
                        </td>
                        <td class="blob-num blob-num-{{ hunk_line.action }}" id="diff-{{ patch.new_id }}R{{ hunk_line.new_lineno or '' }}" data-line-number="{{ hunk_line.new_lineno or '' }}">
                            {#<a href="#diff-{{ patch.new_id }}R{{ hunk_line.new_lineno }}">{{ hunk_line.new_lineno }}</a>#}
                        </td>
                        <td class="blob-code blob-code-{{ hunk_line.action }}">{{ hunk_line.line }}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
