{% extends 'base.html' %}

{% block title %}{{ g.repo_name }}{% endblock title %}

{% block pre_content %}
{% include '_tree_summary.html' %}
{% endblock pre_content %}

{% block navigation %}
{% include '_navigation.html' %}
{% endblock navigation %}

{% block content %}
{{ macros.commit_details(latest, preview=true) }}

<div class="tree">
    <ul class="tree-entries">
        {% if request.view_args.path %}
        <li class="tree-entry tree-entry-parent">
            <a href="{{ url_for('.tree', path=request.view_args.path|parentpath) }}" rel="nofollow" title="Go to parent directory">
                ..
            </a>
        </li>        
        {% endif %}
        {% for entry in tree %}
        <li class="tree-entry tree-entry-{{ entry.type }}">
            <span class="fa-stack">
                <i class="fa fa-git-{{ entry.type }} fa-stack-1x"></i>
                {% if entry.is_symlink %}
                <i class="fa fa-git-symlink fa-stack-1x"></i>
                {% endif %}
            </span>

            <a href="{{ url_for('.' + entry.type, path=entry.target) }}">{{ entry.name }}</a>
            {#
            {{ entry.commit.message.summary }}
            |
            {{ entry.commit.commit_date|formatdate(true) }}
            #}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}

{% block post_body_script %}
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{{ url_for('static', filename='js/ZeroClipboard.js') }}"></script>
<script src="{{ url_for('static', filename='js/select2.js') }}"></script>
<script>
jQuery(function($) {
    var client;

    ZeroClipboard.config({
        swfPath: "{{ url_for('static', filename='swf/ZeroClipboard.swf', external_=true) }}"
    });

    client = new ZeroClipboard($('.js-zeroclipboard'));

    $('.branch-selector').select2({
        placeholder: "Select a State",
        allowClear: false
    });
});
</script>
{% endblock post_body_script %}
